/*Does not seem responsive; seems to break apart when shrank*/

* {
  box-sizing: border-box;
}

body {
  background-color: inherit;
  height: 100%;
}

.picture-body {
  dislpay: block;
  max-width: 100%;
  margin: 100px 20px;
  }

.picture-group {
  max-width: 25%;
  max-height: 100%;
  float: left;
  border: 2px solid black;
  padding: 10px 10px;
}

.picture-title {
  text-align: center;
}

.picture-img {
  display: block;
  margin: 0 auto;
  max-height: 30%;
}

.picture-caption {
  text-align: center;
  max-height: 60%;
}