ul {
  display: flex;
  border: 1px solid red;
  list-style: none;
  padding: 0px;
  background-color: #e8e8e9;
}

li {
 background-color: #8cacea;
 margin: 8px;
 min-height: 100px;
 color: #fff;
 padding: 4px;
 flex: 0 1 auto; /*sets flex-grow, flex-shrink, and flex-basis at the same time*/
}
