body
{
	margin: 0;
	padding: 20px;
	font-size: 120%;
}

table
{
	width: 40em;
	border-collapse: collapse;
}

th,td
{
	padding: .5em;
	border: 1px solid #777;
	text-align: left;
	vertical-align: top;
}

th { background-color: #eee; }

h2 {
	color: green;
}

.news { color: blue; }

h2.news { color: orange; }

#intro { color: purple; }

h2#intro { color: aqua; }

/* order of importance */
/*
1. Gather all the declarations. If conflict, move to step 2.
2. Sort by origin and importance:
	a. user-agent < user < author
	b. author !important < user !important
3. Determine specificty of a, b, c, d
	a = inline styles
	b = IDs
	c = classes, pseudo-classes, attributes
	d = elements, pseudo-elements
Generally a > b > c > d
4. Last in the document gets greatest important
*/