/* Structural Pseudo-classes------------------ */
li:first-child {
  background: #52bab3;
  color: white;
}

li:last-child {
  border: none;
}

span:only-child{
  color: #52bab3;
  font-size: 1.5em;
  padding-left: 50px;
}

li:empty{
  background: tomato;
}

/* :nth-child() Pseudo-classes------------------ */
/*:nth-child is 1-indexed*/

li:nth-child(even) {
  background: #52bab3;
  color: white;
}

li:nth-child(9) {
  background: #52bab3;
  color: red;
}

/*li:nth-child(an+b)
a & b are numbers and n is always 'n'

li:nth-child(2n+3); targets the THIRD li, THEN every 2nd one
*/

li:nth-child(3n+3){
  color:blue;
}

li:nth-child(-n+3){
  color:red;
}