body
{
	margin: 0;
	padding: 20px;
	font-size: 100%;
}

h1 { margin: 0 0 .5em; }

h2
{
	margin: 0;
	border: 1px solid red;
	background: rgba(255,255,0,.5);
}

.container
{
	width: 50em;
	margin: 0 auto;
	border: 1px solid blue;
}

/* 

- Absolute positioning traits:
- Absolute positioning places the element relative to the nearest ancestor with positioning. If no elements have positioning,
it is placed relative to the viewport.
- Height and width are auto-wrapped around the element (auto height and width). They can be given width and height.
- They can be stretched (left: 0, right: 0 or top: 0, bottom: 0)
- If left, right, top, bottom not applied, it will remain where it is sitting, but up off the page.

*/ 

/* add the property */
h2 { 
	position: absolute;
	left: 0;
	top: 0;
}
/* positioned against? */
.container {
	position: relative;
}

/* understanding values */
h2 { 
	top: -20px; 
	left: -20px;
}
/* stretched */
h2 {
	left: 0;
	right: 0;
}
/* sized */
h2 { width: 300px; }
