/*What do all cars have in common?*/

div {
  wheels:4;
  max-height:9;
  material:steel;
}

.year2005 {
  musicPlayer: cd;
}

.truck.crewCab {
  seats: 5;
}

.aluminum {
  material: aluminum;
}

#123xyz {
  color:weirdpurple;
}

/*You could have also given each <div> with class 
“seat” the class “leather” as well. But here’s 
the thing: that wouldn’t allow you to select just the 
cars with leather seats as a whole. You would only be able 
to select the seats themselves.*/

.leatherSeats .seat{
  material:leather;
}

/*Now let’s say you want to make sure that the front 
passenger seat has seat warmers. You 
can use the “~” selector, which is known as 
the sibling selector. It allows you to assign 
styles to elements relative to their neighbors.*/

.driverSeat ~ .seat {
  seatWarmers:true;
}

/*Here’s one last example. Let’s say one particular make and model had a bizarre, 
random feature. For example, a 2008 Chevy truck might have had DVD players in the back seats.
Here’s how you would turn that into CSS:
You need to start with multiple classes, since this is a highly specific type of car. 
This might be “div.truck.chevy.year2008”.
Then, think about how you will be able to select the back seats, specifically. 
You could give the row an extra class, like “.backRow”. Or, you could use the :last-child selector.
Finally, you need to select the seats themselves.*/

.div.chevy.truck.year2008 .backRow .seat {
  media:dvdPlayer;
}
