* {box-sizing: border-box;}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* The first two values will be responsive */
  /*grid-template-rows: 200px 100px; There will be two left over*/
  /*grid-auto-rows: 100px;  Sets size of any rows outside the first two*/
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px; /*adds gutter*/
  grid-row-gap: 20px; /*adds gutter*/
  /*grip-gap: 20px; adds gutter to colums and rows*/
  grid-auto-flow: column;
}

.grid div:nth-child(2){
  order: 1;
}

.grid div {
  border: 1px solid rgb(0,95,107);
  border-radius: 3px;
  background-color: rgba(0,95,107,0.8);
  padding: 0.2em;
  color: #fff;
}

.grid div:nth-child(odd){
  border: 1px solid rgb(0,95,107);
  border-radius: 3px;
  background-color: rgba(0,95,107,1.5);
  padding: 0.2em;
  color: #fff;
}
