/* Base Styles -------------------------------- */

body {
	font-family: 'Nunito', sans-serif;
	line-height: 1.5;
	color: #384047;
	padding: 10px 0 80px;
}
div {
	max-width: 610px;
	margin: auto;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	margin-bottom: 14px;
}
a {
	color: #4183c4;
}

/* Substring Matching Attribute Selectors ---- */

a[href^="http:"] {
	color: #52bab3;
	text-decoration: none;
}

a[href$=".pdf"] {
	background-image: url('../beimg/icn-pdf.svg');
}

/*a[href$=".jpg"] {
	background-image: url('../beimg/icn-picture.svg');
}
*/
a[href$=".zip"] {
	background-image: url('../beimg/icn-zip.svg');
}


a[href*="downloads"] {
	background-repeat: no-repeat;
	background-size: 18px 18px;
	padding-left: 25px;
}

img[src*="thumb"] {
	margin: 4px;
	border: solid 2px;
	width: 180px;
	height: 140px;
}

img[src*="lake"] {
	border: dotted red 2px;
}

/* Pseudo-elements  --------------------- */
p::first-line {
  font-weight: bold;
  font-size: 1.4em;
}

p::first-letter {
  float: left;
  font-size: 40px;
  color: white;
  padding: 5px 10px;
  background: #384047;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  line-height: 1;
}

.zip::before {
	content: "ZIP - ";
	font-size: .75em;
}

.jpg::before {
	background-image: url('../beimg/icn-picture.svg');
	background-size: 18px 18px;
	display: inline-block;
	width: 18px;
	height: 18px;
	content: "";
	float: left;
}

.pdf::after {
	content: " -- Not Working";
	font-size: 1.25em;
}

h1::before,
h1::after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: coral;
	margin: 0 10px ; 
}









