body
{
	margin: 0;
	padding: 20px;
	font-size: 100%;
}

h1 { margin: 0 0 .5em; }
h2 { margin: 0; }
.test { background: yellow; }

/* add rules here */
.test01 { width: 200px; } /* width does not affect inline elements */
.test02 { height: 60px; } /* height does not affect inline elements */
.test03 { margin: 2em; } /* margin only affects content to the left/right of inline elements */
.test04 { padding: 2em; } /* padding is applied to all sides, but only affects content to the left/right of inline elements */
.test05 { border: 1em solid red; } /* border is applied around the element but only affects content to left/right of lineline element */
