body {
	font-family: arial, helvetica, sans-serif;
	font-size: 90%;
}

h1, h2, h3 {
	font-family: georgia, times, serif;
} 

h1 {
	font-size: 220%;	
}

p {
	color: red; /* inherited */
	border: 1px black solid; /* not inherited */
	font-size: 80%; /* calculated value (12.8) is inherited to child, not 80% of 80% (10.24) */
}