
.notifications {

}

.nav {
	text-align: left;
	float: right;
}

.menu_bar{
	position: fixed;
	background-color: #fff;
	width: 100%;
}

.ricon {
	margin: 15px 5px;
	color: #66757F;
}

#profile_pic{
	height: 32px;
	width: 32px;
}

.banner{
	max-width: 1000px;
	max-height: 2000px;
	background-image: url("https://pbs.twimg.com/profile_banners/1551130856/1399999084/1500x500");
}

#search{
	display: block;
	border-radius: 5%;
	width: 100%;
    height: 32px;
    padding: 5px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
}